/*!CSS Variables */

:root {
    --button: #0080f8;
    --primary: #ddd;
    --shadow: 0 0.3rem 0.3rem rgba(104, 104, 104, 0.8);
}

html {
    /*background-image: linear-gradient(to bottom, #0080f8, #0080f8, #0080f8,
            #0080f8, #0080f8, #1976ec, #256ce1, #2c62d5,
            #354cba, #3837a0, #372185, #33076b);*/
    background-color: var(--primary);
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0 auto 5rem;
    width: 95%;
    line-height: 1.4;
}

.wrapper {
    display: grid;
}

.btn {
    border: none;
    background: white;
}

/* ! Header */
#header {
    display: grid;
    grid-gap: 1.25rem;
    background: white;
    grid-template-columns: 1fr 5fr;
    padding: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 95%;
}

#header-img {
    padding-left: 5.5rem;
    padding-top: 1rem;
}

#nav-bar a,
.btn {
    text-decoration: none;
    color: var(--button);
    box-shadow: var(--shadow);
    text-align: center;
    display: block;
    font-size: 1.1rem;
    padding: 1rem 2rem;
}

#nav-bar a:hover,
.btn:hover {
    color: white;
    background: var(--button);
}

#nav-bar ul {
    display: grid;
    grid-gap: 0.25rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    list-style-type: none;
    align-content: center;
    justify-items: center;
}

/* ! showcase */
#showcase {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background-color: white;
    color: white;
    padding: 0;
    padding-left: 5rem;
    height: 95vh;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("img/camera-macro-optics-122400.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

#showcase h1 {
    font-size: 4rem;
    margin: 0;
}

#showcase p {
    margin-top: 0;
    font-size: 1.1rem;
}

#showcase .btn {
    font-size: 1.15rem;
    width: 10rem;
}

#showcase a {
    text-decoration: none;
}

/* !Products */
#products {
    display: grid;
    padding: 2rem;
    height: 80vh;
    grid-gap: 1rem 5rem;
    grid-template-areas:
        ". . header header ."
        ". top-box-a top-box-b top-box-c .";
}

#products h2 {
    grid-area: header;
    font-style: italic;
    font-size: 2rem;
    color: var(--button);
}

.price {
    font-size: 1.5rem;
}

.top-box {
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box button {
    width: 10rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-a img {
    width: 100%;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box-b img {
    width: 100%;
}

.top-box-c {
    grid-area: top-box-c;
}

.top-box-c img {
    width: 100%;
}

/* ! Subscribe */
#subscribe {
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: space-around;
}

#video {
    display: flex;
    width: 50%;
}

#form {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#email {
    width: 70%;
    height: 2rem;
    border: solid var(--button) 0.1rem;
    color: var(--button);
    font-size: 1.2rem;
}

#email:active {
    transform: scale(2);
}

#submit {
    width: 10rem;
}

/* !Footer */

#footer {
    display: grid;
    grid-gap: 1rem 5rem;
    padding-top: 1rem;
    background: var(--button);
    text-align: center;
    font-size: 1.3rem;
    height: 60vh;
    color: white;
    margin-top: 2rem;
    grid-template-areas:
        ". footerImg ."
        "text1 text1 text1"
        "copyright copyright copyright";
}

#footer img {
    width: 150px;
    height: 152px;
    border-radius: 50%;
    grid-area: footerImg;
}

.bio {
    grid-area: text1;
}

#footer p:last-child {
    grid-area: copyright;
}


/*! Media Queries */
@media screen and (max-width: 1000px) {
    #header {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }

    #header img {
        padding: 0 0 0 1rem;
    }

    #nav-bar ul {
        grid-template-columns: 1fr;
    }

    #showcase {
        margin-top: 12rem;
    }

    #showcase h1 {
        font-size: 3rem;
    }

    #showcase {
        padding: 2rem;
    }

    #showcase p {
        font-size: 1rem;
    }

    #products {
        height: auto;
        grid-template-areas:
            "header ."
            "top-box-a top-box-b"
            "top-box-c ."
    }

    #products h2 {
        font-size: 1.5rem;
    }

    #email {
        width: 100%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #products {
        grid-template-areas:
            "header"
            "top-box-a"
            "top-box-b"
            "top-box-c";
    }

    #products h2 {
        font-size: 1.2rem;
    }

    #video,
    #form {
        flex-basis: 100%;
    }

    #email {
        width: 100%;
    }
}